@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    padding:0px;
    margin:0px;
    text-decoration:none;
    list-style:none;
}

header {
    height:70px;
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    box-sizing:border-box;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.35), 30%, white);
    font-family:Ubuntu, serif;
}

.logo-pic {
    box-sizing: border-box;
    height:97%;
    width:auto;
    margin:1% 1% 1% 20px;
    border-radius:30px;
    border:1.5px solid rgba(0, 0, 0, 0);
}

.navmenu {
    height:100%; 
    width:35%;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    align-items:center;
}

.btn a {
    color:rgb(20, 19, 19);
    border:2px solid rgb(20, 19, 19);
    background-color: rgba(255, 154, 0, 0.5);
    border-radius:30px;
    padding:5px;
}

.btn a:hover {
    color: rgb(255, 154, 0);
    background-color:rgba(0, 0, 0, 0.75);
    border-color:rgb(255, 154, 0);
}

.logo-link:hover {
>.logo-pic {
    border:1.5px solid rgb(255, 154, 0);
}

+ .navmenu li:first-child a {
    color: rgb(255, 154, 0);
    background-color:rgba(0, 0, 0, 0.75);
    border-color:rgb(255, 154, 0); 
}
}